@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: "Inter", Arial, sans-serif;
}

.thumbs-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.swiper-pagination{
    position: static!important;
    margin-top: 1.5rem;
}

button, li, div, a {

    -webkit-tap-highlight-color: transparent;
    
}

.select-none{
  user-select: none;
}

#default-sidebar a.active{
 background: rgb(192, 186, 186);
}